<div class="comment-section">
    <div class="comment-input">
      <textarea placeholder="Add a comment..."></textarea>
      <button style="background-color: rgb(21, 114, 195);">Add Comment</button>
    </div>
    <div class="comment-list">
      <div class="comment">
        <p class="comment-text">This is an example comment.</p>
        <span class="comment-author">- User Name</span>
      </div>
      <!-- Additional comments can be added here, each wrapped in a div with the class "comment" -->
    </div>
  </div>