<form [formGroup]="taskForm" (ngSubmit)="submit()" class="my-form">
  <div>
    <label for="Title"> title</label>
    <input id="Title" formControlName="Title" class="form-control" />
  </div>
  <div>
    <label for="Categorie"> categorie</label>
    <input id="Categorie" formControlName="Categorie" class="form-control" />
  </div>
  <div>
    <label for="Description"> description</label>
    <input
      id="Description"
      formControlName="Description"
      class="form-control"
    />
  </div>
  <div>
    <label for="dueDate">Due Date</label>
    <input
      type="date"
      id="dueDate"
      formControlName="dueDate"
      class="form-control"
    />
  </div>
  <!-- Conditionally display the Submit button when isUpdate is false -->
  <button *ngIf="!isUpdateValue" type="submit" class="btn btn-primary">Submit</button>
</form>
<!-- Conditionally display the Edit button when isUpdate is true -->
<button *ngIf="isUpdateValue" type="button"
class="btn btn-warning" (click)="edit(formType)">Edit</button>
