<div class="task-wrapper">
  <div class="card">
    <div class="card-header">
      <h5 class="card-title">{{ title }}</h5>
      <div class="icon-group">
        <mat-icon class="edit-delete-icons" (click)="editTask(taskId)">edit</mat-icon>
        <mat-icon class="edit-delete-icons" (click)="deleteTask(taskId)">delete_outline</mat-icon>
      </div>
    </div>
    <div class="card-body">
      <div class="body-header">
        <small class="text-muted">Avant le : {{ dueDate | frenchDate }}</small>
        <p class="card-categorie" [ngStyle]="{'background-color': getBackgroundColor(taskCategorie)}">{{ taskCategorie }}</p>
      </div>
      <p class="card-text">{{ description }}</p>
      <mat-icon (click)="showCommentsList()">comment</mat-icon>
      <span class="ml-1">commentaires</span>
    </div>
    <form [formGroup]="commentForm" (ngSubmit)="submitComment()" *ngIf="showComments">
      <div class="input-container">
        <div class="input-group">
          <input type="text" placeholder="Add comment" class="form-control" formControlName="Text" />
          <div class="input-group-append">
            <button class="btn btn-outline-secondary submit-button" type="submit">
              <mat-icon>send</mat-icon>
            </button>
          </div>
        </div>
      </div>
    </form>
    <div class="card-footer">
      <div *ngIf="isVisible">
        <div class="button-container">
          <button *ngIf="showAddCommentButton" class="btn btn-outline-primary add-comment-button" (click)="toggleComments(); showAddCommentButton = false;">
            Add Comment
          </button>
        </div>
      </div>
      <div *ngIf="isVisible" class="comment-wrapper">
        <ng-container *ngFor="let comment of comments">
          <div style="display: flex; flex-direction: row; align-items: center;">
            <app-comment [commentText]="comment.text" [commentAuthor]="comment.author"></app-comment>
            <mat-icon class="icon-button" (click)="editComment(comment.id)">edit</mat-icon>
            <mat-icon class="icon-button" (click)="deleteComment(comment.id)">delete_outline</mat-icon>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</div>