<div class="container">
  <div class="sidebar">
    <ul>
      <!-- Dynamically display projects and pass the selected project to app-project -->
      <app-project
        [projects]="projects"
        (projectClicked)="onProjectSelected($event)"
        (projectDeleted)="onProjectDeleted($event)"
      >
        ></app-project
      >
    </ul>
  </div>
  <div class="main-content">
    <!-- Main content here -->
    <!-- Dynamically generate app-list components for each list in the selected project -->
    <ng-container *ngFor="let filteredList of filteredLists">
      <div class="column-list">
        <app-list
          [title]="filteredList.title"
          [lists]="[filteredList]"
          [projectId]="selectedProject"
          [listId]="filteredList.id"
        ></app-list>
      </div>
    </ng-container>
    <div
      *ngIf="selectedProject > 0"
      class="add-list"
      (click)="toggleModal('listform', selectedProject)"
    >
      <p>Add List</p>
      <i class="fas fa-plus"></i>
    </div>
    <!-- Placeholder for adding more lists if needed -->
  </div>
</div>
