<div class="container">
  <div class="sidebar">
    <!-- Sidebar content here -->
    <ul>
      <li>
        <app-project></app-project>
      </li>
      <!-- Add more projects as needed -->
    </ul>
  </div>
  <div class="main-content">
    <!-- Add List Button -->
  
   
    <!-- Main content here -->
    <app-list [title]="'To do'"></app-list>
    <app-list [title]="'Doing'"></app-list>
    <app-list [title]="'Done'"></app-list>

  
    <div class="add-list" (click)="toggleModal('addList')">
      <p>Add List</p>
      <i class="fas fa-plus"></i>
    </div>
  
    <!-- Add more lists as needed -->
  </div>

</div>